<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <logger name="io.getquill.sources.jdbc.JdbcSource">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.kafka">
        <level value="WARN"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>