language: scala

scala:
  - 2.12.8

jdk:
  - openjdk12

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.coursier/cache
    - $HOME/.sbt/boot/

script: sbt ++$TRAVIS_SCALA_VERSION test it:test